
<loader ng:show="loader"></loader>

<div ng:init="Init();" ng:show="!loader">

    <div ng:show="!loader">

        <div class="page-title">
            <div class="container">
                <div class="column">
                    
                    <h1>
                        <a href="#/servicio/{{servicio_id}}">
                            <span class="fas fa-arrow-left"></span> 
                        </a>
                        &nbsp; &nbsp;&nbsp;{{    subServicio.servicio.nombre + ' / ' + subServicio.nombre}}
                    </h1>
                </div>
                <div class="column">
                    <ul class="breadcrumbs">
                        <li><a href="#/">Inicio</a></li>
                        <li class="separator">&nbsp;</li>
                        <li>{{subServicio.nombre}}</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="container padding-bottom-3x mb-1">
            <div class="row">
                <div class="col-lg-9">
                    <div class="cols-2 mb-4" style="position: relative; height:auto;">
                        
                        <div id="owl-imagenes" class="owl-carousel">
                            <div class="item" ng:repeat="sub in subServicio.archivos">
                                <img class="d-block mx-auto" 
                                ng:src="{{ path + sub.directorio + '/' + sub.url }}" alt="item">
                            </div>
                        </div>

                        <div class="grid-item mt-4" dir-html-compile="subServicio.editor.contenido"></div>
                    </div>
                </div>
              
                <div class="col-lg-3">
                
                    <aside class="sidebar  position-left">
    
                        <section class="widget widget-categories">
                            <h3 class="widget-title">Servicios</h3>
                            <ul>
                                <li ng:repeat="item in servicios">
                                    <a href="#/servicio/{{item.id}}" ng:bind="item.nombre"></a></span>
                                </li>
                            </ul>
                        </section>

                        <section class="widget widget-featured-posts">
                            <h3 class="widget-title">Tenemos cursos para tí</h3>
                            <div class="entry" ng:repeat="curso in listCursos">
                                <div class="entry-thumb">
                                    <a href="#/cursos/{{curso.url_course}}">
                                        <img ng:src="{{ path + curso.background_image }}" alt="{{curso.name}}">
                                    </a>
                                </div>
                                <div class="entry-content">
                                    <h4 class="entry-title">
                                        <a href="#/cursos/{{curso.url_course}}">
                                           {{curso.name}}
                                        </a>
                                    </h4>
                                    <span class="entry-meta">por {{curso.teacher.name}}</span>
                                </div>
                            </div>
                        </section>
                    </aside>
                </div>
            </div>

            <div class="row text-center mb-4 pb-4">
                <div class="card-body mb-4 mt-2">
                    <h3 class="card-title">Hecha un vistazo a nuestros proyectos y servicios</h3>
                    <p class="card-text">
                        Explora todo lo que hemos realizado 
                    </p>
                </div>
            </div>

            <div class="row pt-4 mt-4">
                
                <div class="col-md-12">

                    <ul class="nav nav-pills nav-justified" role="tablist">

                        <li class="nav-item">
                            <a class="nav-link" ng:class="{'active' : tab == 'tab_1'}" ng:click="changeTab('tab_1');">
                                Todos
                            </a>
                        </li>

                        <li class="nav-item" ng:repeat="item in servicios">
                            <a class="nav-link" ng:class="{'active' : tab == item.id }" ng:click="changeTab(item.id);">
                                {{item.nombre}}
                            </a>
                        </li>
                        
                    </ul>

                    <div class="tab-content">
                        
                        <div class="tab-pane fade active show">

                            <div class="row text-center m-4 p-4" ng:if="spinnerServices">
                                <div class="col-md-12">
                                    <div class="spinner-grow text-gray-dark m-2" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">Loading...</span></div>
                                </div>
                            </div>

                            <service-list-component  sub-servicios="subServicesList" ng:show="!spinnerServices"></service-list-component>
                        
                        </div>
                        
                    </div>

                </div>
                
            </div>
        </div>

        <div class="pi-section-w pi-shadow-inside-top pi-section-base">
            <div class="pi-texture" style="background: url(dist/images/hexagon.png) repeat;"></div>
            <div class="pi-section pi-padding-top-60 pi-padding-bottom-40 pi-text-center">
                <p class="lead-30">
                    <span class="pi-weight-400">Anímese, </span><span class="pi-text-white"> tenga un proyecto con nosotros. </span>
                    <a class="btn btn-info"  href="#/contactanos" style="margin-left: 25px;">
                        <i class="icon-mail pi-icon-left"></i> Contáctenos ahora!
                    </a>        
                </p>
            </div>
        </div>
    </div>
</div>
