<loader ng:show="loader"></loader>

<div class="onInit" ng:init="Init();" ng:show="!loader">

    <div class="page-title filter-course">
        <div class="container">
            <div class="column">
                <h1>Mis Cursos</h1>
            </div>
            <div class="column">
                <ul class="breadcrumbs">
                    <li>
                        <form class="input-group form-group mb-0 pb-0">
                            <span class="input-group-btn">
                                <button type="submit"><i class="icon-search"></i></button>
                            </span>
                            <input class="form-control"  ng:model="search" type="search" placeholder="Burcar curso">
                        </form>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container padding-bottom-3x mb-1 container-cursos">

        <div class="row mb-4 mt-4" ng:if="loader">
            <div class="col-md-12 text-center">
                <div class="spinner-grow text-gray-dark m-2" style="width: 3rem; height: 3rem;" role="status"><span class="sr-only">Loading...</span></div>
            </div>
        </div>

        <div class="row"  ng:if="!loader">
            <div class="col-md-3" ng:repeat="curso in listCursos | filter:search ">
                <card-curso-component logged-in="true" curso="curso"></card-curso-component>
            </div>
        </div>
    </div>
</div>