
<div class="card">
    <div class="card-body">

        <!--  Table Responsive hover -->
        <div class="table-app-responsive">
            <table class="table table-hover table-app">
              <thead>
                <tr>
                    <th t-sticky="1">#</th>
                    <th t-sticky="2">First</th>
                    <th t-sticky="3">Last</th>
                    <th t-sticky="4">Handle</th>
                    <th t-sticky="5">Handle 2</th>
                    <th t-sticky="6"> Handle 3</th>
                    <th t-sticky="7">Handle 4</th>
                    <th t-sticky="8">Handle 5</th>
                    <th t-sticky="9">Handle 6</th>
                    <th t-sticky="10">Handle 7</th>
                    <th t-sticky="11">Handle 8</th>
                    <th t-sticky="12">Handle 9</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td ng:class="{'t-sticky' : tCol(1) }">1 columna</td>
                  <td ng:class="{'t-sticky' : tCol(2) }">Mark</td>
                  <td ng:class="{'t-sticky' : tCol(3) }">Otto</td>
                  <td ng:class="{'t-sticky' : tCol(4) }">@mdo</td>
                  <td ng:class="{'t-sticky' : tCol(5) }">@mdo</td>
                  <td ng:class="{'t-sticky' : tCol(6) }">@twitter</td>
                  <td ng:class="{'t-sticky' : tCol(7) }">@mdo</td>
                  <td ng:class="{'t-sticky' : tCol(8) }">@mdo</td>
                  <td ng:class="{'t-sticky' : tCol(9) }">@twitter</td>
                  <td ng:class="{'t-sticky' : tCol(10)}">@mdo</td>
                  <td ng:class="{'t-sticky' : tCol(11)}">@mdo</td>
                  <td ng:class="{'t-sticky' : tCol(11)}">@mdo</td>
                </tr>
              </tbody>
            </table>
          
          </div>
    </div>
</div>
