.page-title {
    position: relative;
    background-color: #f1b21e;
}

.bg-title {
    top: 0;
    position: absolute;
    width: 100%;
    height: 120px;
    background-size: auto;
}

.nav-link {
    cursor: pointer;
}

.galeria {
    margin-bottom: 4em;
}

.galeria h1 {
    text-align: center;
    margin:20px 0 15px 0;
    font-weight: 300;
}

.linea {
    border-top: 5px solid #0077c0;
    margin-bottom: 40px;
}

.contenedor-imagenes {
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-around;
    flex-wrap: wrap;
    border-radius: 3px;
}

.contenedor-imagenes .imagen {
    width: 32%;
    position: relative;
height: 250px;
margin: 2em 0em;
transition: transform .5s;
    margin-bottom: 5px;
}

.imagen img {
    width: 100%;
    height: 100%;
object-fit: cover;
border-radius: .5em;
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
background: rgba(32, 34, 35, 0.52);
    width: 100%;
    height: 0%;
    transition: .5s ease;
    overflow: hidden;
}
.overlay h3 {
    color: #ffff;
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-weight: 300px;
    text-align: center;
    transform: translate(-50%,-50%);
}
.overlay .btn-overlay {
font-size: small;
position: absolute;
bottom: 15%;
border: 1px solid #FF9800;
color: #ffffff;
left: 50%;
font-weight: 300px;
text-align: center;
transform: translate(-50%, -50%);
}

.imagen:hover .overlay {
    height: 100%;
width: 100%;
border-radius: .5em;
cursor: pointer;

}

.imagen:hover{
transform: scale(1.075);
z-index: 100;
}

@media screen and (max-width: 1000px) {
    .contenedor-imagenes {
        width: 95%;
    }
}

@media screen and (max-width: 700px) {
    .contenedor-imagenes {
        width: 90%;
    }

    .contenedor-imagenes .imagen{
        width: 48%;
    }
}

@media screen and (max-width: 450px) {
    h1 {
        font-size: 22px;
    }
    .contenedor-imagenes {
        width: 98%;
    }

    .contenedor-imagenes .imagen{
        width: 80%;
    }
}


.lg-backdrop,.lg-outer {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
z-index: 1040;
background-color: #000 !important;
opacity: 0;
transition: opacity .15s ease 0s;
}