.page-title {
    position: relative;
    background-color: #f1b21e;
}

.bg-title {
    top: 0;
    position: absolute;
    width: 100%;
    height: 120px;
    background-size: auto;
}

.nav-link {
    cursor: pointer;
}

.font-text-nosotros{
    font-size: 1.5em;
}

/*anuncio */

.pi-section-base.pi-shadow-inside-top {
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.12);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.12);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.12);
}

.pi-texture {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.pi-section-w {
    position: relative;
    -webkit-transition: background 0.1s ease-in-out 0s;
    -moz-transition: background 0.1s ease-in-out 0s;
    -ms-transition: background 0.1s ease-in-out 0s;
    -o-transition: background 0.1s ease-in-out 0s;
    transition: background 0.1s ease-in-out 0s;
}
.pi-section {
    max-width: 1120px;
    margin: 0 auto;
    padding: 60px 40px 40px;
    position: relative;
}

.pi-padding-bottom-40, .pi-padding-top-bottom-40 {
    padding-bottom: 40px !important;
}
.pi-text-center {
    text-align: center;
}
.lead-30 {
    font-size: 30px;
    line-height: 1.3em;
    font-weight: 300;
}
.pi-section-base {
    color: #f1e3df;
    background-color: #05f !important;
}
